@model IEnumerable<string>
@inject ICitiesService citiesServiceInView
@{
    ViewBag.Title = "Home";
}

<h1>Environment Name: @ViewBag.Environment</h1>
<h1>Cities</h1>
@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}
<ul class="list">
    @foreach (string city in citiesFromServiceInView)
    {
        <li>@city</li>
    }
</ul>
<environment include="Development">
    <button class="button button-blue-back">Button only for Development Environment</button>
</environment>
